os:
  - linux
language: node_js
node_js:
  - "10.0"
  - "9.11"
  - "8.11"
  - "7.6"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
install:
  - export CXX=g++-4.8
  - $CXX --version
  - npm i
